@model BlogPost
@{
    ViewData["Title"] = "Top Posts";
}

<div class="text-center">
    <h1 class="display-4">Top Posts</h1>
</div>
<h2>Most Recent Blog Post</h2>
@if (Model.PostText != null && Model.PostText != "Default Text")
{
    <p>
        Title: @Model.PostTitle<br />
        Blog Post Author: @Model.Poster.Name<br />
        Post: @Model.PostText<br />
        Rating: @Model.PostRating<br />
        Post Date: @Model.PostTime
    </p>
}
else
{
    <p>There are no blog posts right now.</p>
}
<a href="/Blog/BlogPost">Create a New Blog Post</a>