@model BlogPost
@{
    ViewData["Title"] = "Top Posts";
}

<div class="text-center">
    <h1 class="display-4">Top Posts</h1>
</div>
<h3 class="text-center">Most Recent Blog Post</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @if (Model.PostText != null && Model.PostText != "Default Text")
            {
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Title: @Model.PostTitle<br /></h5>
                        <p class="card-text">
                            <strong>Blog Post Author:</strong> @Model.Poster.Name<br />
                            <strong>Post:</strong> @Model.PostText <br />
                            <strong>Rating:</strong> @Model.PostRating <br />
                            <strong>Post Date:</strong> @Model.PostTime
                        </p>
                    </div>
                </div>
            }
            else
            {
                <p class="text-center">There are no blog posts right now.</p>
            }
            <br/>
            <div class="row">
                <a class="btn btn-primary col-md-2 mx-auto" href="/Blog/BlogPost">Create Post</a>
            </div>
        </div>
    </div>
</div>